<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Local feed for development -->
    <add key="local" value="C:\Dev\AppPlatform\nupkg" />
    <!-- NuGet.org for all other packages -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- Package source mapping -->
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="PS.AppPlatform*" />
    </packageSource>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
